@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  font-family: "Poppins", system-ui;
}
header {
  background: black;

  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: auto;
}
.hamburger {
  display: none;
}
.hersection{
  background-color: black;
}
.logo img {
  max-width: 165px;
}

.logo span img {
  font-size: 40px;
}
.list ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  display: flex;
  gap: 55px;
  font-size: 24px;
}
.list ul a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.headerbutton {
  display: flex;
  /* margin-right: -480px; */
}

.headerbutton button {
  outline: none;
  border: 2px solid rgba(36, 255, 0, 1);
  padding: 3px;
  height: 60px;
  width: 160px;
  border-radius: 30px;
  background-color: black;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/*  */

.SubHero h1 {
  text-align: center;
  margin: auto;
  margin-top: 28px;
  max-width: 1200px;
  font-size: 63px;
}
.underlined {
  text-decoration: underline;
}
.SubHero p {
  margin: auto;
  margin-top: 20px;
  max-width: 689px;
  font-size: 23px;
}

.SubHero p + p {
  max-width: 444px;
}

.Hero img {
  position: absolute;
  top: 417px;
  left: 485px;
}

.box {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 523px;
  height: 470px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: rgba(36, 255, 0, 1);
}

.emoji {
  position: relative;
}

.emoji-image-emoji-1 {
  position: absolute;
  left: 290px;
  top: -381px;
}

.emoji-image-emoji-4 {
  position: absolute;
  top: -130px;
  left: 220px;
}

.emoji-image-emoji-2 {
  position: absolute;
  left: 1150px;
  top: -74px;
}

.emoji-image-emoji-5 {
  position: absolute;
  top: -411px;
  left: 1100px;
}

.emoji-image-emoji-3 {
  position: absolute;
  top: -311px;
  left: 1238px;
}

.emoji-image-emoji-6 {
  position: absolute;
  left: 874px;
  top: -180px;
}

.emoji-image-emoji-7 {
  position: absolute;
  left: 1065px;
  top: -201px;
}

.emoji-image-emoji-8 {
  position: absolute;
  top: -260px;
  left: 405px;
}

.emoji-image-emoji-9 {
  position: absolute;
  left: 872px;
  top: -355px;
}

/*  */
.Mainhow {
  background: white;
  height: 100vh;
  color: black;
}

.img-text {
  position: relative;
}

.img-text h1 {
  position: absolute;
  font-size: 40px;
  top: 50px;
  left: 505px;
}

.img-flex {
  display: flex;
  position: absolute;
  top: 340px;
  left: 256px;
}

.img-flex-text h1 {
  max-width: 50%;
  margin-left: 156px;
  font-size: 40px;
  margin-top: 60px;
}

.img-flex-img img:nth-of-type(2) {
  left: 237px;
  position: absolute;
  top: 52px;
}

.img-flex-img img:nth-of-type(3) {
  left: 316px;
  position: absolute;
  top: 213px;
}

.img-flex-img img:nth-of-type(4) {
  left: 150px;
  position: absolute;
  top: 99px;
}

.img-flex-img img:nth-of-type(5) {
  left: 102px;
  position: absolute;
  top: 179px;
}

/*  */
.img-flex-text img:nth-of-type(1) {
  right: 417px;
  position: absolute;
  top: -19px;
}

.img-flex-text img:nth-of-type(2) {
  right: 310px;
  position: absolute;
  top: 291px;
}

.img-flex-text img:nth-of-type(3) {
  right: 573px;
  position: absolute;
  top: 261px;
}

/*  */
.How{
    background: white;
    height: 100vh;
    color: black;
}


/* Media query for screens 600px and below */
@media (max-width: 600px) {
 
 .box img{
  position: unset;
 }
 .emoji{
  position: unset;
 }
 .list ul {
  display: none;
  flex-direction: column; /* Stack the links vertically */
    position: absolute;
    top: 65px;
    right: 0;
    background-color: black; /* Adjust background for mobile */
    width: 100%; /* Full width */
    text-align: center; /* Center the nav items */
 
}

 /* When menu is open, display the nav links */
 .list ul.open {
  display: flex;
  height: 100vh;
}

.list ul li {
  margin: 20px 0; /* Space between mobile links */
}
.hamburger {
  display: block; /* Show on mobile screens */
  position: absolute;
  right: 20px; /* Adjust the position as per your layout */
  top: 20px;
}
  button{
    display: none;
  }

  .box{
    height: 385px;
    max-width: 444px;
  }

  .box img {
    position: unset;
        margin-top: 17px;
        margin-left: 16px;
        width: 92%;
  }
 .SubHero h1{
  max-width: 100%;
 }
  .SubHero p {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    max-width: 335px;
    font-size: 23px;
}
}